.loader-screen{
position:fixed;
inset:0;
background:#07110b;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
z-index:999999;
animation:fadeIn .8s;
}

.loader-grid{

position:absolute;
inset:0;

background-image:

linear-gradient(rgba(201,164,75,.12) 1px,transparent 1px),
linear-gradient(90deg,rgba(201,164,75,.12) 1px,transparent 1px);

background-size:70px 70px;

opacity:.18;

}

.loader-circle{

position:absolute;

border-radius:50%;

border:1px solid rgba(201,164,75,.22);

animation:rotate 15s linear infinite;

}

.loader-circle-1{

width:520px;

height:520px;

}

.loader-circle-2{

width:340px;

height:340px;

border-color:rgba(29,122,57,.45);

animation-direction:reverse;

}

.loader-content{

position:relative;

z-index:10;

text-align:center;

animation:zoom 1.2s ease;

}

.loader-logo{

width:120px;

margin-bottom:25px;

animation:pulse 2s infinite;

}

.loader-content h1{

color:#fff;

letter-spacing:3px;

font-size:34px;

margin-bottom:12px;

}

.loader-content p{

color:#d5d5d5;

line-height:1.8;

margin-bottom:35px;

}

.loader-progress{

width:320px;

height:4px;

background:#14321f;

overflow:hidden;

margin:auto;

}

.loader-bar{

height:100%;

background:#c9a44b;

animation:loading 2.2s linear forwards;

}

.loader-content span{

display:block;

margin-top:20px;

font-size:12px;

letter-spacing:2px;

color:#7fa889;

text-transform:uppercase;

}

@keyframes loading{

from{width:0;}

to{width:100%;}

}

@keyframes pulse{

0%{transform:scale(.95);}

50%{transform:scale(1);}

100%{transform:scale(.95);}

}

@keyframes rotate{

from{transform:rotate(0deg);}

to{transform:rotate(360deg);}

}

@keyframes zoom{

from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

transform:scale(1);

}

}

@keyframes fadeIn{

from{opacity:0;}

to{opacity:1;}

}